body {
    max-height: 400px;

    header {
        nav {
            form {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                background-color: $darkGrey;

                .localisation {
                    width: 12px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                }

                input {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    text-align: center;

                    &::placeholder {
                        color: $darkestGrey;
                        font-size: 16px;
                        font-weight: 500;
                        opacity: 1;
                    }
                }
            }
        }
    }

    main {
        .first-section {
            background-color: $sectioncolor;
            padding-top: 39px;
            padding-bottom: 40px;
            text-align: center;


            h2 {
                align-items: center;
                margin: 0;
                padding-right: 58px;
                padding-left: 42px;
                font-size: 24px;
                font-weight: 700;

            }

            p {
                padding-top: 10px;
                padding-right: 26px;
                padding-left: 34px;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                margin: 0;

            }

            button {
                width: 218px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 25px;
                background: $buttonone;
                margin: 27px 75px 0px 82px;
                box-shadow: $boxshadowone;
                border: none;


            }

            span {
                color: $white;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .second-section {

            h2 {
                margin: 48px 80px 30px 20px;
                font-size: 24px;
                font-weight: 700;
            }

            ul {
                list-style: none;
            }

            li {
                margin-bottom: 25px;
            }


            .button-fonction {
                border-radius: 20px;
                background-color: $sectioncolor;
                width: 322.486px;
                height: 72.379px;
                flex-shrink: 0;
                box-shadow: $boxshadowtwo;
                display: flex;
                align-items: center;

            }

            .button-link {
                display: flex;
                align-items: center;

            }


            .custom-list-number {
                width: 15.273px;
                height: 14.545px;
                flex-shrink: 0;
                color: $white;
                font-family: Roboto;
                font-size: 14.182px;
                font-weight: 500;
                line-height: normal;
                background-color: $colorbutton;
            }

            .custom-list-number {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                font-weight: bold;
                margin-right: 10px;
                position: relative;
                left: -15px;
            }

            .text-fonction {
                margin-left: 20px;
            }
        }
    }

    .third-section {
        background-color: $sectioncolor;

        h2 {
            margin: 48px 80px 30px 20px;
            font-size: 24px;
            font-weight: 700;
            padding-top: 48px;

        }

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            flex-wrap: wrap;

            .card-img {
                width: 346px;
                height: 231px;
                object-fit: cover;
            }
        }


    }
}


@media screen and (min-width: 769px) {}