body {
    div {

        &.principal-container {
            background-color: $white;

        }
        header {

            .arrow {
                position: absolute;
                margin-top: 25px;
                margin-left: 17px;
                color:$darkestGrey;

            }

            nav {
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 275px;
                }


            }
        }

        #mainrestaurant {
            padding-right: 15px;
            padding-left: 15px;
            background-color: $sectioncolor;
            position: relative;
            margin-top: -30px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            padding-bottom: 1px;

            

            @media screen and (min-width: 769px) {
                margin-right: 10%;
                margin-left: 10%;
                padding-left: 10%;
                padding-right: 10%;
                padding-bottom: 1px;
        
            }

            .titleheart {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 25px;

                @media screen and (min-width: 769px) {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    padding-top: 40px;
                    padding-bottom: 25px;
                }

                h2 {
                    font-family: Shrikhand;
                    font-size: 28px;
                    font-weight: 400;
                }

            }

            .dishes {
                margin-bottom: 40px;
                animation: fadeIn 0.5s both;

                &:nth-child(2) {
                    animation-delay: 500ms;
                }

                &:nth-child(3) {
                    animation-delay: 1000ms;
                }

                &:nth-child(4) {
                    animation-delay: 1500ms;
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                        transform: translateY(-20px);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    border-bottom: 3px solid $green;
                    padding-bottom: 5px;
                    width: 40px;
                }


                article {
                    display: flex;
                    justify-content: space-between;
                    height: 69px;
                    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                    border-radius: 15.0431px;
                    background-color: $white;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 12px;

                    .description {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 5px;
                        padding: 12px 16px 12px 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        h4 {
                            margin: 0;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 21.09px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .sub-title {
                            display: flex;
                            justify-content: space-between;

                            span {
                                font-size: 15.0431px;
                                line-height: 18px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-weight: 300;
                            }

                            .price {
                                font-weight: 700;
                                max-width: 80%;
                                text-overflow: inherit;
                                width: 35px;
                            }
                        }
                    }

                    .tick {
                        background-color: $green;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -60px;
                        transition: all .4s linear;
                        width: 59px;


                        i {
                            font-size: 21px;
                            margin: 0;
                        }
                    }

                    &:hover {
                        .tick {
                            margin-right: 0;
                        }
                    }
                }

        

            }

        }


    }

}