body {
    div {

        &.principal-container {
            background-color:$white;

        @media screen and (min-width: 769px) {
          background-color:$white;
        }
    
    }
    header {
       
        .arrow {
            position:absolute;
            margin-top: 25px;
            margin-left: 17px;
           
        }
        nav {
            img {
                width: 100%;
                object-fit: cover;
                height: 275px;
            }

            
        }
    }

    #mainrestaurant {
        padding-right: 15px;
        padding-left: 15px;
        background-color: $sectioncolor;
        position: relative;
        margin-top: -30px;
        border-radius: 30px;

        @media screen and (min-width: 769px) {
        margin-right: 10%;
        margin-left: 10%;
        padding-left: 10%;
        padding-right: 10%;
}
        }

        div {
           
            &.titleheart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 25px;

            @media screen and (min-width: 769px) {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding-top: 40px;
            padding-bottom: 25px;
            }

            h2 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
        }

        }
    }
 
    }

    .section-entrees,
    .section-plats,
    .section-desserts {
        margin-bottom: 40px;

        h3 {
                font-size: 16px;
                font-weight: 300;
                border-bottom: 3px solid $green;
                padding-bottom: 5px;
                width: 40px;
        }

        div {
            a {
                overflow: hidden;
                border-radius: 15.043px;
                background:$white;
                box-shadow:$box-shadowfour;
                display: flex;
                flex-direction: column;
                padding: 15px 15px 0px 15px;
                margin-bottom: 15px;

                    h4 {  
                    margin: 0px;
                    }
                }

                .p-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                
                    .check-container {
                        margin-right: -33px;
                        transition: margin-right 1s ease;
                        display: flex;
                        align-items: stretch; /* Ajout de cette propriété pour que la .check-container prenne toute la hauteur */
                
                        i {
                            margin-left: 10px;
                            background-color: #99E2D0;
                        }
                    }
                
                    p {
                        font-family: Roboto;
                        font-size: 15.043px;
                        font-style: normal;
                        font-weight: 300;
                    }
                
                    .price {
                        font-size: 15.043px;
                        font-weight: 700;
                    }
                }
                
                .p-container:hover .check-container {
                    margin-right: 0px;
                }
            
            }
        }
      
            .button-commander {
                @media screen and (min-width: 769px) {
                    display: flex;
                    justify-content: center;
                       
                }
            
                button{
                
                width: 186px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 25px;
                background: $buttonone;
                margin: 27px 75px 0px 82px;
                box-shadow: $boxshadowone;
                border: none;
                color: $white;

                
              
            }
        }

    
    }
