body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {

    h1 {
        margin: 0;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 30px;
        line-height: 43.74px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        padding-top: 14px;
        padding-bottom: 5px;
        z-index: 1;
    }
}