$green: green;
$white:White;
$darkGrey: #EAEAEA;
$darkestGrey: #353535;
$sectioncolor: #F6F6F6;
$colorbutton : var(--Primary, #9356DC);
$pink: #FF79DA;
$buttonone: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$boxshadowone:0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$boxshadowtwo:0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$box-shadowthree: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$newRestaurentBackground: #99E2D0;
$newRestaurentColor: #008766;





