@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  position: relative;
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding-top: 14px;
  padding-bottom: 5px;
  z-index: 1;
}

.heart {
  font-size: 24px;
  transition: background-color 0.5s ease-in;
}
.heart:hover {
  background: linear-gradient(var(--Primary, #9356DC), #FF79DA);
  color: transparent;
  font-weight: 600;
  -webkit-background-clip: text;
  transition: background-color 0.5s ease-out;
}

.arrow {
  font-size: 20px;
}

header h1 {
  position: relative;
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding-top: 14px;
  padding-bottom: 5px;
  z-index: 1;
}

footer {
  margin-top: 40px;
}
footer .footer-title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  footer .footer-title {
    order: 2;
    margin-left: 65px;
    margin-right: 40px;
  }
}
footer .footer-liens {
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
}
@media screen and (min-width: 768px) {
  footer .footer-liens {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 15px;
  }
}
footer .footer-liens .link-container {
  display: flex;
  gap: 11px;
}
footer .footer-liens a {
  color: white;
  margin-bottom: 7px;
}

body {
  background-color: #F6F6F6;
  max-height: 400px;
}
body .loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1000;
  opacity: 1;
  animation: fadeOut 3s forwards;
  pointer-events: auto; /* Autorise les événements de la souris lorsque visible */
}
body .loader {
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: var(--Primary, #9356DC);
  border-bottom-color: #008766;
  border-radius: 50%;
  animation: chargeur 5s linear infinite;
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #99E2D0;
    border-bottom-color: black;
  }
  25% {
    border-top-color: #9356DC;
    border-bottom-color: #99E2D0;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: black;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none; /* Désactive les événements de la souris lorsque invisible */
  }
}

header nav form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
header nav form .localisation {
  width: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}
header nav form input {
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
}
header nav form input::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}

main .section-presentation {
  padding-top: 39px;
  padding-bottom: 40px;
  text-align: center;
}
main .section-presentation .button-explorer button {
  cursor: pointer;
  overflow: hidden; /* Pour cacher le débordement du contenu */
  position: relative;
  z-index: 1; /* Pour que le contenu du bouton soit au-dessus du fond lors du dézoom */
  transition: transform 0.5s ease-in, opacity 0.5s ease-in; /* Ajout de la transition ici */
}
main .section-presentation .button-explorer button:hover {
  /* Styles au survol du bouton */
  transform: scale(1.02); /* Zoom de 10% au survol */
  opacity: 0.8; /* Opacité réduite au survol */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre portée */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
main .section-presentation h2 {
  align-items: center;
  margin: 0;
  padding-right: 58px;
  padding-left: 42px;
  font-size: 24px;
  font-weight: 700;
}
main .section-presentation p {
  padding-top: 10px;
  padding-right: 26px;
  padding-left: 34px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
main .section-presentation button {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 27px 75px 0px 82px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
main .section-presentation span {
  color: White;
  font-size: 16px;
  font-weight: 500;
}
main .section-fonctionnement {
  background-color: white;
  padding-bottom: 32px;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 769px) {
  main .section-fonctionnement {
    padding-top: 30px;
  }
}
@media screen and (min-width: 769px) {
  main .section-fonctionnement div {
    max-width: 1440px;
    margin: auto;
  }
}
main .section-fonctionnement div h2 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  main .section-fonctionnement div h2 {
    margin: 0;
    margin-bottom: 25px;
  }
}
main .section-fonctionnement div ul {
  list-style: none;
}
main .section-fonctionnement div li {
  margin-bottom: 25px;
}
@media screen and (min-width: 769px) {
  main .section-fonctionnement div li {
    width: 30%;
  }
}
main .section-fonctionnement div .button-fonction {
  margin: auto;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72.379px;
  flex-shrink: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
main .section-fonctionnement div .button-link {
  display: flex;
  align-items: center;
}
main .section-fonctionnement div .custom-list {
  padding: 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  main .section-fonctionnement div .custom-list {
    display: flex;
    justify-content: space-between;
  }
}
main .section-fonctionnement div .custom-list-number {
  width: 15.273px;
  height: 14.545px;
  color: White;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  background-color: var(--Primary, #9356DC);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  left: -15px;
}
main .section-fonctionnement div .text-fonction {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.section-restaurants {
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 769px) {
  .section-restaurants .restaurants {
    max-width: 1440px;
    margin: auto;
  }
}
.section-restaurants .restaurants h2 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .section-restaurants .restaurants h2 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
.section-restaurants .restaurants .restaurants-container {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-restaurants .restaurants .restaurants-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.section-restaurants .restaurants .restaurants-container a {
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .section-restaurants .restaurants .restaurants-container a {
    width: 45%;
    padding-bottom: 30px;
  }
}
.section-restaurants .restaurants .restaurants-container .card {
  margin: auto;
  background-color: white;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  transition: box-shadow 0.5s ease-in;
}
@media screen and (min-width: 768px) {
  .section-restaurants .restaurants .restaurants-container .card {
    width: 100%;
  }
}
.section-restaurants .restaurants .restaurants-container .card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease-out;
}
.section-restaurants .restaurants .restaurants-container .card-img {
  height: 231px;
  object-fit: cover;
  width: 100%;
}
.section-restaurants .restaurants .restaurants-container .card-content {
  position: relative;
}
.section-restaurants .restaurants .restaurants-container .card-content div .card-title,
.section-restaurants .restaurants .restaurants-container .card-content div p {
  margin: 0;
  margin-left: 13px;
  margin-bottom: 5px;
}
.section-restaurants .restaurants .restaurants-container .card-content div .card-title {
  margin-top: 18px;
}
.section-restaurants .restaurants .restaurants-container .card-content div p {
  margin-bottom: 18px;
}
.section-restaurants .restaurants .restaurants-container .card .heart {
  position: absolute;
  right: 23px;
  bottom: 33px;
}
.section-restaurants .restaurants .restaurants-container .card span {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  width: 80px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

body div.principal-container {
  background-color: White;
}
@media screen and (min-width: 769px) {
  body div.principal-container {
    background-color: White;
  }
}
body div header .arrow {
  position: absolute;
  margin-top: 25px;
  margin-left: 17px;
}
body div header nav img {
  width: 100%;
  object-fit: cover;
  height: 275px;
}
body div #mainrestaurant {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #F6F6F6;
  position: relative;
  margin-top: -30px;
  border-radius: 30px;
}
@media screen and (min-width: 769px) {
  body div #mainrestaurant {
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
body div div.titleheart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}
@media screen and (min-width: 769px) {
  body div div.titleheart {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
body div div.titleheart h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
body .section-entrees,
body .section-plats,
body .section-desserts {
  margin-bottom: 40px;
}
body .section-entrees h3,
body .section-plats h3,
body .section-desserts h3 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}
body .section-entrees div a,
body .section-plats div a,
body .section-desserts div a {
  overflow: hidden;
  border-radius: 15.043px;
  background: White;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  margin-bottom: 15px;
}
body .section-entrees div a h4,
body .section-plats div a h4,
body .section-desserts div a h4 {
  margin: 0px;
}
body .section-entrees div .p-container,
body .section-plats div .p-container,
body .section-desserts div .p-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .section-entrees div .p-container .check-container,
body .section-plats div .p-container .check-container,
body .section-desserts div .p-container .check-container {
  margin-right: -33px;
  transition: margin-right 1s ease;
  display: flex;
  align-items: stretch; /* Ajout de cette propriété pour que la .check-container prenne toute la hauteur */
}
body .section-entrees div .p-container .check-container i,
body .section-plats div .p-container .check-container i,
body .section-desserts div .p-container .check-container i {
  margin-left: 10px;
  background-color: #99E2D0;
}
body .section-entrees div .p-container p,
body .section-plats div .p-container p,
body .section-desserts div .p-container p {
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
}
body .section-entrees div .p-container .price,
body .section-plats div .p-container .price,
body .section-desserts div .p-container .price {
  font-size: 15.043px;
  font-weight: 700;
}
body .section-entrees div .p-container:hover .check-container,
body .section-plats div .p-container:hover .check-container,
body .section-desserts div .p-container:hover .check-container {
  margin-right: 0px;
}
@media screen and (min-width: 769px) {
  body .button-commander {
    display: flex;
    justify-content: center;
  }
}
body .button-commander button {
  width: 186px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 27px 75px 0px 82px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: White;
}

/*# sourceMappingURL=style.css.map */
