body {
  background-color: #F6F6F6;
  max-height: 400px;
}
body header nav form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
body header nav form .localisation {
  width: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}
body header nav form input {
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
}
body header nav form input::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
body main .section-presentation {
  padding-top: 39px;
  padding-bottom: 40px;
  text-align: center;
}
body main .section-presentation h2 {
  align-items: center;
  margin: 0;
  padding-right: 58px;
  padding-left: 42px;
  font-size: 24px;
  font-weight: 700;
}
body main .section-presentation p {
  padding-top: 10px;
  padding-right: 26px;
  padding-left: 34px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
body main .section-presentation button {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 27px 75px 0px 82px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
body main .section-presentation span {
  color: White;
  font-size: 16px;
  font-weight: 500;
}
body main .section-fonctionnement {
  background-color: white;
  padding-bottom: 32px;
  padding-top: 10px;
}
@media screen and (min-width: 769px) {
  body main .section-fonctionnement {
    padding-top: 30px;
  }
}
body main .section-fonctionnement h2 {
  margin: 25px 80px 22px 20px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  body main .section-fonctionnement h2 {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 25px;
  }
}
body main .section-fonctionnement ul {
  list-style: none;
}
body main .section-fonctionnement li {
  margin-bottom: 25px;
}
body main .section-fonctionnement .button-fonction {
  margin: auto;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: 322.486px;
  height: 72.379px;
  flex-shrink: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
body main .section-fonctionnement .button-link {
  display: flex;
  align-items: center;
}
body main .section-fonctionnement .custom-list {
  padding: 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  body main .section-fonctionnement .custom-list {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
  }
}
@media screen and (min-width: 769px) {
  body main .section-fonctionnement .custom-list {
    justify-content: space-evenly;
  }
}
body main .section-fonctionnement .custom-list-number {
  width: 15.273px;
  height: 14.545px;
  color: White;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  background-color: var(--Primary, #9356DC);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  left: -15px;
}
body main .section-fonctionnement .text-fonction {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}
body .section-restaurants h2 {
  margin: 40px 80px 22px 20px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  body .section-restaurants h2 {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 25px;
  }
}
body .section-restaurants .restaurants-container {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) and (max-width: 1003px) {
  body .section-restaurants .restaurants-container {
    display: contents;
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .section-restaurants .restaurants-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 180px;
  }
}
body .section-restaurants .restaurants-container a {
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  body .section-restaurants .restaurants-container a {
    width: calc(41.5% - 30px);
    padding-bottom: 30px;
    padding-right: 100px;
  }
}
body .section-restaurants .restaurants-container .card {
  margin: auto;
  background-color: white;
  width: 340px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  body .section-restaurants .restaurants-container .card {
    width: 100%;
  }
}
body .section-restaurants .restaurants-container .card-img {
  height: 231px;
  object-fit: cover;
}
body .section-restaurants .restaurants-container .card-content {
  position: relative;
}
body .section-restaurants .restaurants-container .card-content .card-title,
body .section-restaurants .restaurants-container .card-content p {
  margin: 0;
  margin-left: 13px;
  margin-bottom: 5px;
}
body .section-restaurants .restaurants-container .card-content .card-title {
  margin-top: 18px;
}
body .section-restaurants .restaurants-container .card-content p {
  margin-bottom: 18px;
}
body .section-restaurants .restaurants-container .card .heart {
  position: absolute;
  right: 23px;
  bottom: 33px;
}
body .section-restaurants .restaurants-container .card span {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  width: 80px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
body footer {
  margin-top: 40px;
}
body footer .footer-title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  body footer .footer-title {
    order: 2;
    margin-left: 65px;
    margin-right: 40px;
  }
}
body footer .footer-liens {
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
}
@media screen and (min-width: 768px) {
  body footer .footer-liens {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 15px;
  }
}
body footer .footer-liens .link-container {
  display: flex;
  gap: 11px;
}
body footer .footer-liens a {
  color: white;
  margin-bottom: 7px;
}

body div.principal-container {
  background-color: White;
}
@media screen and (min-width: 769px) {
  body div.principal-container {
    background-color: White;
  }
}
body div header .arrow {
  position: absolute;
  margin-top: 25px;
  margin-left: 17px;
}
body div header nav img {
  width: 100%;
  object-fit: cover;
  height: 275px;
}
body div #mainrestaurant {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #F6F6F6;
  position: relative;
  margin-top: -30px;
  border-radius: 30px;
}
@media screen and (min-width: 769px) {
  body div #mainrestaurant {
    margin-right: 200px;
    margin-left: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
body div div.titleheart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}
@media screen and (min-width: 769px) {
  body div div.titleheart {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
body div div.titleheart h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
body .section-entrees,
body .section-plats,
body .section-desserts {
  margin-bottom: 40px;
}
body .section-entrees h3,
body .section-plats h3,
body .section-desserts h3 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}
body .section-entrees div a,
body .section-plats div a,
body .section-desserts div a {
  overflow: hidden;
  border-radius: 15.043px;
  background: White;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  margin-bottom: 15px;
}
body .section-entrees div a h4,
body .section-plats div a h4,
body .section-desserts div a h4 {
  margin: 0px;
}
body .section-entrees div .p-container,
body .section-plats div .p-container,
body .section-desserts div .p-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .section-entrees div .p-container .check-container,
body .section-plats div .p-container .check-container,
body .section-desserts div .p-container .check-container {
  margin-right: -33px;
  transition: margin-right 1s ease;
  display: flex;
}
body .section-entrees div .p-container .check-container i,
body .section-plats div .p-container .check-container i,
body .section-desserts div .p-container .check-container i {
  margin-left: 10px;
}
body .section-entrees div .p-container p,
body .section-plats div .p-container p,
body .section-desserts div .p-container p {
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
}
body .section-entrees div .p-container .price,
body .section-plats div .p-container .price,
body .section-desserts div .p-container .price {
  font-size: 15.043px;
  font-weight: 700;
}
body .section-entrees div .p-container:hover .check-container,
body .section-plats div .p-container:hover .check-container,
body .section-desserts div .p-container:hover .check-container {
  margin-right: 0px;
}
body .button-commander button {
  width: 186px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 27px 75px 0px 82px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: White;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  position: relative;
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding-top: 14px;
  padding-bottom: 5px;
  z-index: 1;
}

.heart {
  font-size: 24px;
}
.heart:hover {
  background: linear-gradient(var(--Primary, #9356DC), #FF79DA);
  color: transparent;
  font-weight: 600;
  -webkit-background-clip: text;
}

.arrow {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
